article {
    border: 2px solid blue;
    border-radius: 5px;
    margin: auto;
    max-inline-size: 65ch;
    padding: 1rem;
}

.lessonMaterial {
    background-color: lightblue;
    font-size: 2rem;
    margin: 1rem 0;
}

.btn {
    border-radius: 10px;
    cursor: pointer;
    inline-size: max-content;
    padding: 0.5rem;
}
