article {
    /* background-color: aquamarine; */
    border: 2px solid blue;
    /* color: brown; */
    /* display: flex; */
    margin: auto;
    max-inline-size: 65ch;
    padding-block: 5vb;
    padding-inline: 5vi;
}

.lessonMaterial {
    background-color: lightblue;
    font-size: 2rem;
    margin: 1rem 0;
}

section {
    border: 2px solid rosybrown;
}

.btn {
    inline-size: max-content;
    padding: 0.5rem;
    cursor: pointer;
}
