article {
    border: 2px solid blue;
    border-radius: 5px;
    line-height: 1.5;
    margin: auto;
    max-inline-size: 65ch;
    padding: 1rem;
}

.btn {
    border-radius: 10px;
    cursor: pointer;
    font-size: inherit;
    inline-size: max-content;
    padding: 0.5rem;
}
