form {
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 10px;
    cursor: pointer;
    inline-size: max-content;
    padding: 0.5rem;
}
.btn:first-child {
    background-color: #e8d317;
    margin-inline-end: 1rem;
}
